<div class="box-popup">
    <% if ((typeof messages !== "undefined") && (messages.length > 0)) { %>
    <% messages.forEach(val => { %>
    <section class="<%= val.bg %>"><%= val.msg %><span id="del">✖</span></section>
    <% }) %>
    <% } %>
</div>