<main>
    <form method="POST" action="/contact/add">
        <div class="each">
            <label for="nama">Nama :</label>
            <input type="text" name="nama" id="nama" class="poppins" autocomplete="off" required>
        </div>
        <div class="each">
            <label for="alamat">Alamat :</label>
            <input type="text" name="alamat" id="alamat" class="poppins" autocomplete="off" required>
        </div>
        <div class="each">
            <label for="notelp">No.telp :</label>
            <input type="number" name="notelp" id="notelp" class="poppins" autocomplete="off" required>
        </div>
        <div class="each">
            <button type="submit" class="poppins">simpan</button>
        </div>
    </form>
</main>